[submodule "Client/Packages/com.alicizax.unity.cysharp.unitask"]
	path = Client/Packages/com.alicizax.unity.cysharp.unitask
	url = https://github.com/AlicizaX/com.alicizax.unity.cysharp.unitask.git
[submodule "Client/Packages/com.alicizax.unity.ui.extension"]
	path = Client/Packages/com.alicizax.unity.ui.extension
	url = https://github.com/AlicizaX/com.alicizax.unity.ui.extension.git
[submodule "Client/Packages/com.alicizax.unity.framework"]
	path = Client/Packages/com.alicizax.unity.framework
	url = https://github.com/AlicizaX/com.alicizax.unity.framework.git
[submodule "Client/Packages/com.alicizax.unity.editor.extension"]
	path = Client/Packages/com.alicizax.unity.editor.extension
	url = https://github.com/AlicizaX/com.alicizax.unity.editor.extension.git
[submodule "Client/Packages/com.alicizax.unity.installer"]
	path = Client/Packages/com.alicizax.unity.installer
	url = https://github.com/AlicizaX/FramworkInstaller.git
[submodule "Client/Packages/com.alicizax.unity.debugger"]
	path = Client/Packages/com.alicizax.unity.debugger
	url = https://github.com/AlicizaX/com.alicizax.unity.debugger.git
[submodule "Client/Packages/com.alicizax.unity.input"]
	path = Client/Packages/com.alicizax.unity.input
	url = https://github.com/AlicizaX/com.alicizax.unity.input.git
